body
{
    background-color: rgba(114, 142, 150, 0.562);
    
    
}

.block_page{
    background-color: white;
    border:  black 1px ;
    border-radius: 20px;
    width: 500px;
    margin: 120px auto;
    padding: 50px;
    justify-content: center;
    position: relative;
}

input 
{   
    border: none;
    border-bottom: 2px solid gray;
    margin: 10px auto;
    
}

img
{
    width: 200px;
    height: 200px;
    margin-left: 135px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}
.txt
{
    text-align: center;
}