
body
{
    background-color: rgb(155, 195, 228);
}
.acteur {
    
    border: black solid 1px;
    margin-top: 5px ;
    background-color: white;
    padding-bottom: 5px;
}
.acteur h2{
    text-align: center;
}
.acteur h3{
    margin-left: 120px;
    position: relative;
    bottom: 20px;

}
.hiden{
    visibility: hidden;
}
.acteur img{
    border: black solid 1px;
    margin-left: 40%;
    width: 300px;
}

.acteur p{
    color:black;
    margin-left: 20px;


}
.acteur li{
    color:black;
    margin-left: 40%;


}
textarea{
    width: 90%;
    height: 100px;
}
.comments{
    
    
    background-color: white;
}
.message{
    border: black solid 1px;;
    background-color: white;
    margin-bottom: 5px;
    width: 50%;
    margin-left: 400px;
    

}
@media screen and (max-device-width :768px){

    .acteur{
        width: fit-content;
    }
    .acteur img{
        margin-left: 30% ;
    }
    .acteur li{
        color:black;
        margin-left: 30%;
    }
    .acteur p{
        color:black;
        margin-left: 10px;
    
    
    }
    body{
        width: auto;
    }
    .message{
        border: black solid 1px;;
        background-color: white;
        margin-bottom: 5px;
        width: 50%;
        margin-left: 200px;
        
    
    }
}
@media screen and (max-device-width :425px){
    .acteur img{
        margin-left: 15% ;
    }
    .acteur li{
        color:black;
        margin-left: 15%;
    }
    .message{
        border: black solid 1px;;
        background-color: white;
        margin-bottom: 5px;
        width: 50%;
        margin-left: 100px;
        
    
    }
}
