
body
{
    background-color: rgb(155, 195, 228);
}
.acteur {
    
    border: black solid 1px;
    margin-top: 5px ;
    background-color: white;
}
.acteur h2{
    text-align: center;
}
.acteur h3{
    margin-left: 120px;
    position: relative;
    bottom: 20px;

}
.hiden{
    visibility: hidden;
}
.acteur img{
    border: black solid 1px;
    margin-left: 40%;
    width: 300px;
}

.acteur p{
    color:black;
    margin-left: 20px;


}
.acteur li{
    color:black;
    margin-left: 40%;


}
.comments{
    border: black solid 1px;;
    background-color: white;
}
.message{
    border: black solid 1px;;
    background-color: white;
    margin-bottom: 5px;

}
@media screen and (max-width :480px){

    .acteur {
    
        border: black solid 1px;
        margin-top: 5px ;
        background-color: white;
    }
    .acteur h2{
        text-align: center;
    }
    .acteur h3{
        margin-left: 120px;
        position: relative;
        bottom: 20px;
    
    }
    .hiden{
        visibility: hidden;
    }
    .acteur img{
        border: black solid 1px;
        margin-left: 20%;
        width: 300px;
    }
    
    .acteur p{
        color:black;
        margin-left: 20px;
    
    
    }
    .acteur li{
        color:black;
        margin-left: 40%;
    
    
    }
    .comments{
        border: black solid 1px;;
        background-color: white;
    }
    .message{
        border: black solid 1px;;
        background-color: white;
        margin-bottom: 5px;
    
    }
}    